<header class="app-header">
  <div class="header-left">
    <div class="search-box">
      <i class="pi pi-search search-icon"></i>
      <input type="text" placeholder="Buscar ativos, patrimônios, responsáveis..." />
    </div>
  </div>

  <div class="header-right">
    <button class="icon-btn" title="Notificações">
      <i class="pi pi-bell"></i>
      <span class="badge-dot"></span>
    </button>
    
    <button class="icon-btn" title="Ajuda">
      <i class="pi pi-question-circle"></i>
    </button>

    <div class="user-profile">
      <div class="avatar">TI</div>
      <div class="user-info">
        <span class="name">{{ userName }}</span>
        <span class="role">{{ userRole }}</span>
      </div>
    </div>
  </div>
</header>
