spring.application.name=project_name
server.port=port_number
spring.datasource.url=jdbc:postgresql://postgres:5432/database_name
spring.datasource.username=database_username
spring.datasource.password=database_password
spring.jpa.hibernate.ddl-auto=default_value
spring.jpa.show-sql=true_or_false